<p>
  <mat-toolbar style="background-color : #b34745 ; color: white">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <img class="logo" src="../../assets/e-library.jpeg"  alt="lib" />
    </button>
    <span>E-Library</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="onSave()">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="onLoad()">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
